@font-face {
  font-family: didot;
  src: url(../fonts/didot/Didot-HTF-L06-Light.ttf) format("truetype");
}
@font-face {
  font-family: avenir;
  src: url(../fonts/Avenir/avenir_ff/AvenirLTStd-Book.otf) format("truetype");
}
@font-face {
  font-family: didot-italic;
  src: url(../fonts/didot/Didot-HTF-L42-Light-Ital.ttf) format("truetype");
}
.App{
  margin-top: 15px;
  max-width: 100%;
  overflow-x: hidden;
}