.Auth-form {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}
.Auth-form__title {
  font-family: avenir;
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.Auth-form__title--white {
  color: rgb(243, 240, 240);
}
.Auth-form__items {
  margin-top: 5px;
}
.Auth-form__label {
  display: block;
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}
.Auth-form__error {
  color: red;
  font-size: 14px;
}

.Auth-form__inputs {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: lighter;
  border-bottom: 1px solid rgb(17, 17, 17);
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: center;
  outline: none;
  background: none;
}
a {
  text-decoration: none;
}
.Auth-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.Auth-container {
  justify-content: space-evenly;
  align-items: center;
  margin: 0 initial !important;
  padding: 0 30px;
}
.Auth-container__toggle-section {
  border-radius: 4px;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../Images/auth5.jpg");
  background-size: cover;
  padding: 80px 30px 10px;
  min-height: 500px;
  width: 350px;
}
.Auth-form__desc {
  color: rgb(243, 240, 240);
  font-size: 18px;
  font-family: avenir;
  text-align: center;
  margin-bottom: 200px;
}
.Auth-button {
  display: block;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-family: avenir;
  letter-spacing: 2px;
}
.Auth-form-button{
  margin: 35px auto 0;
  width: 260px;
  height: 36px;
  color: #fff;
  background: #d4af7a;
}
.Auth-toggle-btn {
  margin: 35px auto 0;
  width: 100px;
  height: 36px;
  color: rgb(243, 240, 240);
  font-weight: bold;
  border: 3px solid rgb(243, 240, 240);
  background-color: transparent;
  text-decoration: none !important;
}
.Auth-toggle-btn__responsive{
  display: none;
}
@media only screen and (max-width: 750px) {
  .Auth-container__toggle-section{
    display: none;
  }
  .Auth-toggle-btn__responsive {
    display: block;
    margin-top: 15px;
  }
}