.Register-form{
    vertical-align:middle;
    text-align:center;
    margin-bottom: 10px;
}
.Register-form__items{
    margin-top: 5px;
}
.Register-form__label{
    display: block;
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
.Register-form__error{
    color: red;
    font-size: 14px;
}

.Register-form__inputs{
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    outline: none;
    background: none;

}
.Auth-button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background: #d4af7a;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .Auth-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}