.checkout-product {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.checkout-product::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  background-color: grey;
}
.checkout-product::after {
  bottom: -15px;
}
.checkout-product__image {
  width: 80px;
  height: 80px;
}
.checkout-product__info{
  padding-left:20px;
  width: 100%;
}
.checkout-product__info__title {
  font-weight: 500;
  max-width: 120px;
  margin-bottom: 0px !important;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkout-product__total-cost {
  text-align: right;
}
@media screen and (max-width:650px) {
  .checkout-product__image{
    width: 60px;
    height: 60px;
  }
  .checkout-product__total-cost {
    margin-top: 5px;
  }
}