.contact {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f6f3ef;
}
.contact__title {
  background-color: #ffffff;
  color: rgb(17, 17, 17);
  font-family: poppins-semibold, poppins, sans-serif;
  font-size: 42px;
  letter-spacing: 8.4px;
  padding: 40px 0 35px;
  font-weight: 700;
}
.contact__body {
  background-color: #f6f3ef;
  padding: 60px 0;
}
.contact__body__main-title,
.contact__body__main-title2 {
  position: relative;
  color: rgb(17, 17, 17);
  font-family: poppins-semibold, poppins;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 6px;
}
.contact__body__main-title,
.contact__body__main-title2 {
  position: relative;
  color: rgb(17, 17, 17);
  font-family: poppins-semibold, poppins;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 6px;
}
.contact__body__main-title {
  margin-bottom: 40px;
}
.contact__body__main-title2 {
  margin-bottom: 70px;
}
.contact__body__main-title::after,
.contact__body__main-title2::after {
  position: absolute;
  content: "";
  background-color: rgb(17, 17, 17);
  height: 3px;
  width: 25px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.contact__body__three {
  justify-content: center;
}
.contact-card1__title {
  color: rgb(188, 76, 42);
  font-family: didot;
  font-style: italic;
  font-size: 28px;
  font-weight: 100 !important;
  margin: 40px 0 20px;
}
.contact-card1__data {
  color: rgb(17, 17, 17);
  font-family: avenir;
  letter-spacing: 0.16px;
}

/******************
       FORM
******************/

.contact-form {
  vertical-align: middle;
  margin-bottom: 10px;
  padding: 20px 40px;
  max-width: 900px;
  margin: auto;
}
.contact-form__items {
  text-align: start;
  margin-top: 5px;
}
.contact-form__label {
  display: block;
  font-size: 16px;
  color: rgb(17, 17, 17);
}
.contact-form__error {
  color: red;
  font-size: 14px;
}
.contact-form__inputs {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: lighter;
  border-bottom: 1px solid rgb(188, 76, 42);
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  background: none;
  width: 100%;
}
a {
  text-decoration: none;
}
.contact-form-button {
  background-color: transparent;
  border: 1px solid rgb(188, 76, 42);
  color: rgb(188, 76, 42);
  padding: 0.5rem 6rem !important;
  line-height: 22.4px;
  margin: 20px 0 40px;
}
.contact-form-button:hover {
  background-color: rgb(188, 76, 42);
  color: white;
}

@media screen and (max-width: 821px) {
  .contact__body {
    padding: 30px 0;
  }
  .contact__body__three {
    margin: 60px 0 20px;
    width: 100%;
  }
  .contact-card1__title {
    font-size: 22px;
  }
  .contact-form-button {
    padding: 0.5rem 2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .contact__title {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .contact__body__main-title,
  .contact__body__main-title2 {
    font-size: 23px;
    letter-spacing: 2px;
  }
  .contact-card1__data {
    font-size: 14px;
    padding: 0 12px;
  }
}
