.product-item{
    Background: rgba(0, 0, 0, 0);
    border-width: 0;
    border-color: #111111;
    background-color: rgba(255, 255, 255, 0);
    border-color: #111111;
    border-width: 0px;
    max-width: 200px;
    max-height: 300px;
    padding: 27px 27px;
    display: inline-grid;
    text-align: center;
    align-content: center;
    vertical-align:middle;
    cursor: pointer;
    position: relative;

}
.product-item-image{
    max-width: 100%;
    height: 15vw;
    object-fit: contain;
    
}
.product-item-name{
    font-family: avenir;
    text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
.product-item-colors{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}
.product-item-price{
    color: rgb(188, 76, 42);
    font-family:avenir
}
.product-item-header{
    position: relative;
}
.product-item-review{
    
    display: none;
    top: calc(100%/2+0px) !important;
    transition-property: transform;
    cursor: pointer;
    width: 100%;

  }
      
.product-item-image:hover + .product-item-review {
    padding: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    cursor: pointer;
    transition-duration:  399ms;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font: inherit;
    color: inherit;
    height: auto;
    line-height: 50px !important;
    text-align: center;
    font-family:  didot-italic;
    color: rgb(17, 17, 17);
  }
  .product-details{
      vertical-align: middle;
     padding:10px 20%;
     margin-top: 10px;
  }
  .product-details-title{
    font-size:  20px;
    font-family:avenir;
    color: rgb(17, 17, 17);
    text-align: left;
  }
  .product-details-price-div{
    margin: 15px 0;
  }
  .product-details-price{
    color: rgb(188, 76, 42);
    font-size: 20px;
    font-family:serif;
    font-style: italic;
    margin: 10px 0;
  }
  .product-details-quantity{
      font-family: avenir;
  }
  .product-details-quantity-input-div{
    
    margin: 10px 0;
}
  .product-details-quantity-input{
      padding: 5px 10px;
    writing-mode: horizontal-tb !important;
    border-style: inset;
    border-style: solid;
    color: grey;
    border-width: 1px;
      border-color: #c9c9c9;
  }
  .product-details-div-img{
    width: 250px;        
    
    }
.product-details-btn{
    
    color: rgba(255, 255, 255, 0.7);
    border-color: #BC4C2A;
    background-color: #BC4C2A;
    border-style: solid;
    padding: 4px 112px;
}
.product-info{
}
.product-info-text{
    font-family: avenir;
    color: rgb(188, 76, 42);
    font-size:16px;
    text-align: start;
    display: flex;
}
.product-info-btn{
    margin: 15px 0;
    width: 100%;
    display: block;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c9c9c9;
    margin-inline-end: auto;
    color: rgb(188, 76, 42);
    background-color: transparent;
}
.product-info-details{
    color: black;
    text-align: start;
    font-size: 14px;
}
.product-details-btn-text{
    margin: 0;
    
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
  .product-details-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
  }